<!DOCTYPE html>
<html>
    <head>
        <title>Map | Bus Trac</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/jquery.mobile.datebox.css" />
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
        <script type="text/javascript" src="http://dev.jtsage.com/cdn/datebox/latest/jqm-datebox.core.min.js"></script>
        <script type="text/javascript" src="http://dev.jtsage.com/cdn/datebox/latest/jqm-datebox.mode.calbox.min.js"></script>
        <script type="text/javascript" src="http://dev.jtsage.com/cdn/datebox/latest/jqm-datebox.mode.flipbox.min.js"></script>
        <script type="text/javascript">
        $('div').live('pagecreate', function() {
            prettyPrint();
        });
        </script>
        <style type="text/css">
            #routeNumber{a
                display: inline-block;
            }
        </style>
        <script type="text/javascript">
            function 
        </script>
    </head>
    <body>
    <div data-role="page">
    <div data-role="header">
        <a href="scheduler.html" data-ajax="false" data-icon="home">Back</a>
    </div>
    
         <div data-role="fieldcontain" style="margin-top: 50px;">
            <ul id="settings_filter">
                
                    <li>71B Highland Park Outbound Weekday trip around 1 PM</li>
                    <li>Via Oakland - Shadyside - 5th Avenue</li>
                    
            </ul>
          
</div>
 <div data-role="fieldcontain" style="margin-top: 20px;"> 
            <ul data-role="listview" >
            <li>1:05pm 5th Ave at Wood St</li>
            <li>1:06pm 5th Ave at S1:09pm 5th Ave at Ross St</li>
            <li>1:10pm Forbes Ave at Boyd St (Duquesne Univ)</li>
            <li>1:15pm Forbes Ave at Mcanulty Dr</li>
            <li>1:20pm Forbes Ave at Magee St</li>
            <li>1:35pm Forbes Ave at Stevenson St</li>
            <li>1:50pm Forbes Ave at Pride St (Mercy Hospital)</li>
</ul>
 

  
    <div id="footer" data-role="footer">
        <div data-role="navbar">
        <ul>
            <li><a href="/track">Wherebus</a></li>
            <li><a href="/planner">Trip Planner</a></li>
            <li><a href="scheduler.html" class="ui-btn-active" data-ajax="false">Scheduler</a></li>
        </ul>
        </div>
    </div>
</div>
    </body>
</html>