<!DOCTYPE html>
<html>
	<head>
		<title>Tracking | Bus Trac</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
		<link rel="stylesheet" href="css/style.css">
		<style type="text/css" media="screen">
			#list{
				margin-top: 0;
			}

			.ui-input-search .ui-input-clear, .ui-input-text .ui-input-clear{
				margin-top: 4px;
			}
		</style>
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
	</head>
	<body>
	<div data-role="page">
	
	<div id="list" data-role="content">
		<ul id="stoplist" data-role="listview" data-filter="true" data-filter-reveal="true" data-filter-placeholder="Bus Stops, Routes or Street Corners">
			<!--
		    <li>
		    	<form action="/bus_station" method="post">
		    		<input type="hidden" name="station" value="5TH AVE AT CRAIG ST" />
		    		<a href="#" onclick="$(this).closest('form').submit();">5TH AVE AT CRAIG ST</a>
		    	</form>
		    </li>-->
		</ul>
	</div>
	<!-- end of content -->

	<div id="footer" data-role="footer">
		<div data-role="navbar">
		<ul>
			<li><a href="/track" class="ui-btn-active" data-ajax="false">Bus Tracking</a></li>
			<li><a href="/planner" data-ajax="false">Trip Planner</a></li>
			<li><a href="scheduler.html">Scheduler</a></li>
			
		</ul>
		</div>
	</div>
	<!-- end of footer -->

	</div>
	<script type="text/javascript">
		// get stops
        $(function(){
            $.ajax({
            url: '/allstops', //the URL to your node.js server that has data
            dataType: 'json',
            cache: false
            }).done(writeStops);
        });

        function writeStops(data){
        	var list = $('#stoplist');

        	for(var i in data){
        		//console.log(data[i][1]);
        		list.append('<li class="ui-li ui-li-static ui-btn-up-c ui-screen-hidden"><form action="/bus_station" method="post"><input type="hidden" name="stop_id" value="' + data[i][0] + '" /><a href="#" class="ui-link" onclick="$(this).closest(\'form\').submit();">' + data[i][1] + '</a></form></li>');
        	}
        }


	</script>
	</body>
</html>